/*Chung*/
*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}
div{
    display: inline-block;
}
body{
    background-color: #fafafa;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.35;

}
img{
    max-width: 100%;

}
a{
    text-decoration: none;
    color: blueviolet;
    transition: all 300ms;
}
a:hover{
    color: rgb(94, 48, 137);

}
p{
    /*margin-bottom: 10px;*/
}
/*letsblog*/
.container{
    float: left;
    padding: 20px 30px;
    Margin: 20px 200px
}
.box-left{
    float: left;
    width: 60%;
}

#firstlook{
    text-align: center;
}
h5{
    text-align: center;
}
.main2{
    float: left;
}
.main2cover{
    display: grid;
    grid-template-columns: auto auto;
    float: left;
    width: 100%;
}
.artlifestyle{
    max-width: 100%;
    float: left;
}
#olderposts{
    text-align: right;
}


.box-right{
    float: left;
    text-align: center;
    width: 20%;

}
.box-right img{
    max-width: 100%;
}
.aboutme{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
}
.subscribe{
    width: 100%;
    background-color: black;
    color: white;
}
.btn{
    width: 230px;
    margin: 20px 0;
}
.follow_me{
    border: 1px solid black;
    width: 100%;
    margin: 20px 0;
}
.category{
    width: 100%;
    border: 1px solid silver;
}

li{
    list-style: none;
    text-align: left;
    border-bottom: 1px solid silver;
}